.city_hide {
    display: none;
}

li {
    list-style: none;
}

.button-reg {
    display: inline-block;
    margin-left: -50px;
    margin-top: -5px;
    padding: 5px 20px;
}

.clr:after {
    content: "";
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
}
.dsb{
    display:block;
}
a:hover {
    color: #00ff00;
}

.blue_line {
    background: rgb(30, 144, 255);
}

.clear:after {
    content: "";
    clear: both;
    display: block;
    height: 20px;
}

.mainwrapper {
    width: 1020px;
    margin: 0 auto;
}

.content-wrapper {
    background: url(../../main/img/web-background.png) no-repeat center center fixed;
    min-height: 700px;
}

.content_box {
    display: block;
    margin: 0 auto;
    float: none;
    width: 75%;
}

.registration_form_title {
    font-size: 60px;
    display: block;
    margin: 0 0 30px;
    padding-top: 40px;
    text-align: center;
    color: white;
    font-weight: 400;
}

.registration_form_error {
    transition: all 200ms;
    box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.7);
    -moz-box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.7);
}

.registration_form {
    margin: 0 auto;
    padding: 10px 25px 20px;
    width: 800px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: white;
    font-size: 30px;
    line-height: 35px;
}

.registration_form label {
    margin: 34px 0;
    display: block;
}

.registration_form input {
    margin-top: -2px;
    float: right;
    border: none;
    width: 376px;
    height: 42px;
    font-size: 23px;
    box-sizing: border-box;
    padding: 6px 6px 6px 18px;
    outline: none;
}

.registration_form_highlight:focus {
    transition: all 200ms;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.7);
}

.registration_form input[type="submit"] {
    margin: 40px 227px 10px;
    background: transparent;
    padding: 10px;
    height: auto;
    font-size: 30px;
    width: 346px;
    line-height: 30px;
    box-sizing: border-box;
    border: solid 4px white;
    color: white;
    font-weight: 500;
    transition: all 150ms;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -o-transition: all 150ms;
}

.registration_form input[type="submit"]:hover {
    transition: all 150ms;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -o-transition: all 150ms;
    background: white;
    color: rgb(30, 144, 255);
    border: solid 4px rgb(30, 144, 255);
    box-shadow: 5px 10px 15px 2px rgba(31, 31, 31, 0.5), -5px 10px 15px 2px rgba(31, 31, 31, 0.5);
    -moz-box-shadow: 5px 10px 15px 2px rgba(31, 31, 31, 0.5), -5px 10px 15px 2px rgba(31, 31, 31, 0.5);
    -webkit-box-shadow: 5px 10px 15px 2px rgba(31, 31, 31, 0.5), -5px 10px 15px 2px rgba(31, 31, 31, 0.5);
}

.registration_form input[type="submit"]:active {
    transition: all 50ms;
    -webkit-transition: all 50ms;
    -moz-transition: all 50ms;
    -o-transition: all 50ms;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: 3px 6px 4px rgba(31, 31, 31, 0.4);
}

.mainpage_background {

    background: url('../../images/main_img.jpg') center center no-repeat fixed;
    background-size: cover;
    height: 800px;

}

.title {
    padding-top: 85px;
    text-transform: uppercase;
    color: white;
    font-size: 80px;
    line-height: 85px;
    text-align: center;

}

.company_description {
    color: white;
    width: 1000px;
    padding: 370px 0 45px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    line-height: 45px;
}

.company_info h1 {
    color: white;
    text-align: center;
    padding: 220px 0 25px;
    font-size: 70px;
    line-height: 75px;
}

.company_info p {
    color: white;
    text-align: center;
    padding: 0 0 25px;
    font-size: 25px;
    line-height: 35px;
}

.info_container {
    padding-bottom: 60px;
    margin-top: 500px;
}

.info_sections {
    margin: 2px;
    width: 250px;
    box-sizing: border-box;
    float: left;

}

.info_sections img {
    border-radius: 50%;
    width: 210px;
    padding: 20px;
}

.info_sections p {
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
}

.info_sections p:nth-child(3) {
    color: white;
    text-transform: none;
    text-align: center;
    padding: 0 30px;
    font-size: 15px;
    line-height: 25px;
}

.resize {
    max-width: 1400px;
    min-width: 400px;
    margin: 0 auto;
    background-color: #1E90FF;
}

body, p {
    font: 13px/1.5 Helvetica, sans-serif;
    color: #000;
}

.main {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    background: #000;
    height: 51px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

.main .nav {
    float: right;
}

.nav a {
    font-size: 14px;
    color: white;
    display: block;
    padding: 15px;
}

.nav li {
    float: left;
}

.nav li:last-child {
    margin-right: 50px;
}

.main label {
    float: left;
    padding: 15px;
    height: 100%;
}

.file_dw {
    padding-left: 20%;
}

.form_reg {
    display: block;
    position: absolute;
    margin: 0 auto;
}

.form_in label, .form_log label, .form_math label {
    box-shadow: none;
    transition: box-shadow 0.3s;
}

.form_in label:hover, .form_log label:hover, .form_math label:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
}

.form_log {
    color: black;
    z-index: 9995;
    display: none;
    position: absolute;
    float: right;
    right: 50px;
    top: 60px;
    width: 30%;
}

.us_info {
    display: none;
    position: fixed;
    z-index: 9995;
    left: 45%;
    top: 30%;
    margin: -70px 0 0 -180px;
}

#overlay_log {
    display: none;
    position: fixed;
    z-index: 9990;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.us_info .kontakt_tel {
    margin: 0 auto;
}

.us_info .kontakt_tel p {
    display: block;
    color: #000;
    text-align: center;
    font-size: 30px;
}

.us_info .kontakt_tel p:before {
    content: "";
    width: 24px;
    height: 24px;
    background: url(../img/75phone.png);
}

.us_info .soc_icon {
    padding: 30px;

}

.us_info .soc_icon ul {
    margin: 0 auto;
}

.us_info .soc_icon ul li {
    float: left;
    margin: 0 auto;
}

.us_info .soc_icon a {
    display: block;
    width: 80px;
    height: 80px;
}

.us_info .soc_icon ul li:nth-child(1) a {
    background: url(../img/facebook.png);
}

.us_info .soc_icon ul li:nth-child(2) a {
    background: url(../img/g+.png);
    margin-left: 15px;
}

.us_info .soc_icon ul li:nth-child(3) a {
    background: url(../img/twitter.png);
    margin-left: 15px;
}

.resize .cont_block {
    position: relative;
    top: 100px;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    background: white;
}

.cont_block .head {
    background: #555;
}

.head h2 {
    font-size: 35px;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}

.cont_block {
    border-radius: 10px;
}

.cont {
    margin-top: 20px;
}

.cont, .cont form p, .cont ul li {
    color: #1E90FF;
}

.form_in {
    padding-bottom: 20px;
}

.form_in label:last-child {
    margin: 0 auto;
    display: block;
    text-align: center;
    background: #32CD32;
    border: none;
    color: white;
    font-size: 25px;
    width: 50%;
}

.form_in label:last-child:hover {
    cursor: pointer;
}

.form_in select {
    padding: 10px;
    font-size: 15px;
    color: #1E90FF;
    border: none;
}

.part {
    border-bottom: 1px solid #f4f4f4;
}

.lb_part {
    margin-left: 120px;
}

.flr {
    float: right;
}

.data_w {
    width: 82%;
}

#info_sec {
    display: none;
}

.form_in input {
    width: 99%;
    padding: 10px 0;
    font-size: 14px;
    border: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0);
}

.form_in textarea {
    width: 99%;
    height: 150px;
    border: none;
    box-sizing: border-box;
}

.slider {
    position: relative;
    margin-top: 48px;
}

#circle {
    margin: 20px auto
}

.go {
    margin: 0 auto;
    position: relative;
    width: 900px;
    height: 600px;
    border: 1px solid black;
}

.slider section {
    float: left;
    margin: 25px;
    color: red;
    width: 390px;
    height: 250px;
    background-color: grey;
    border: 1px solid black;
}

.next {
    position: absolute;
    right: 5%;
    top: 50%;
    border: none;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    outline: none;
    opacity: .7;
    width: 55px;
    height: 55px;

}

.next img {
    position: absolute;
    top: 0;
    left: 5%;
    height: 55px;
    width: 55px;
}

.next:hover {
    cursor: pointer
}

.prev {
    position: absolute;
    left: 5%;
    top: 53%;
    border: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    outline: none;
    opacity: .7;
    width: 55px;
    height: 55px;
}

.prev img {
    position: absolute;
    top: 0;
    left: -5%;
    height: 55px;
    width: 55px;
}

.prev:hover {
    cursor: pointer
}

/*POP-UP*/
#overlay {
    display: none;
    position: fixed;
    z-index: 990;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#popup-news {
    display: none;
    position: fixed;
    z-index: 995;
    left: 40%;
    top: 25%;
    margin: -50px 0 0 -150px;
    width: 500px;
    background: #2a4aff;
}

#popup-news .header {
    font-size: 30px;
    padding: 6px 12px;
    font-weight: 700;
    border-bottom: 1px solid #aaa;
    text-align: center
}

#popup-news .text {
    font-size: 24px;
    color: #b7b7b7;
    font-style: italic;
    position: relative;
    box-sizing: border-box;
    padding-left: 10px;
    outline: none;
    border: 2px #b4b4b4 solid;
    border-radius: 10px;
    margin: 20px 40px;
    height: auto;
}

#popup-news .buttons {
    margin: 0;
    padding: 6px 12px 16px;
    text-align: center;
}

#popup-news .buttons a {
    display: inline-block;
    padding: 2px 20px;
    border: 1px solid #000;
}

#login_sub {
    width: 100%;
    color: white;
}

#jereb_run {
    font-size: 30px;
    text-align: center;
}

.spusok {
    margin-left: 25px;
    padding: 20px;
}

.spusok li {
    padding: 10px;
}

.form_math ul {
    width: 250px;
}

.cenu ul {
    float: right;
    margin-top: -590px;
}

.form_math form {
    margin-top: 20px;
}

.form_math label, .cenu li {
    display: block;
    width: 80%;
    margin-bottom: 10px;
    display: block;
    color: #1E90FF;
    cursor: pointer;
    background: white;
    border: 1px solid #1E90FF;
}

.cenu input {
    width: 85%;
    padding: 12px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.form_math .last_button {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    background: #32CD32;
}

.form_math .last_button a {
    display: block;
    text-align: center;
    width: 100%;
}

.cenu ul {
    padding-top: 20px;
    float: right;
    display: none;
}

.the_final_6 {
    display: none;
    z-index: 100;
    width: 500px;
    min-height: 600px;
    background: white;
    border: solid 5px rgb(30, 144, 255);
    color: rgb(30, 144, 255);
    position: fixed;
    top: 50px;
    margin-left: 50%;
    left: -300px;
}

.the_final_6 ul {
    margin: 0 auto;
}

.the_final_6 li:last-child {
    list-style: none;
}

.fl:after {
    content: "";
    display: block;
    clear: both;
    height: 20px;
}

.open_event {
    padding: 10px;
}

.open_event p {
    color: #000;
}

.open_event h2 {
    font-size: 14px;
}

.list_icon_data {
    padding-top: 20px;
    margin: 0 auto;
    width: 50%;
}

.icon {
    float: left;
    width: 155px;
    padding-top: 40px;
}

.icon_data_3 {
    margin-right: 0;
}

.icon h2, .icon p {
    box-sizing: border-box;
    text-align: center;
}

.icon_data_1 {
    background: url(../../main/img/calendar.png) no-repeat center top;
    border-right: 1px solid #f4f4f4;
}

.icon_data_2 {
    background: url(../../main/img/params.png) no-repeat center top;
    border-right: 1px solid #f4f4f4;
}

.icon_data_3 {
    background: url(../../main/img/calendar.png) no-repeat center top;
}

.bg_img_event {
    background: url(../../main/img/solo.jpg) no-repeat center center;
    margin: 20px auto 0;
    width: 600px;
    height: 350px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.bg_img_event h2 {
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.icon1 {
    width: 45%;
    margin: 0 auto;
    padding-left: 50px;
}

.icon1 .ic1, .icon1 .ic2 {
    float: left;
}

.icon1 {
    background: url(../../main/img/user.png) no-repeat left center;
    border-bottom: 1px solid #f4f4f4;
}

.txt_data p {
    padding-top: 30px;
    font-size: 20px;
}

b {
    font-weight: 600;
}

.cont-box {
    padding: 10px;
}

.button-box {
    float: left;
    width: 31%;
    min-width: 150px;
    margin-right: 3%;
    margin-top: 5px;
}

.button-box:last-child {
    margin-right: 0;
}
@media screen and (max-width: 970px){
    .button-box{
        width:100%;
        transition: all 0.7s;
    }
    .button-box ul li{
        text-align:center;
    }
}

.button-org-add {
    padding: 0;
}

.button-org-add li {
    padding: 15px 10px;
    height: 100%;
    display: block;
    float: left;
}

.button-org-add .button-list {
    width: 75%;
    border: 1px solid #D2D6DE;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.button-org-add .button-list:hover {
    border: 1px solid #367FAA;
    cursor: pointer;
}
.button-org-add .button-list:active {
    box-shadow:inset 0 0 20px rgba(0, 192, 239, 0.5);
}

.active_button_list{
    border: 1px solid #367FAA;
    cursor: pointer;
    box-shadow:inset 0 0 20px rgba(54, 127, 170, 0.5);
}

.button-org-add .btn-plus {
    text-align: center;
    width: 25%;
    border: 1px outset #00c0ef;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.button-org-add .btn-plus:hover {
    background: #00c0ef;
    border-top-right-radius: 100%;
    color: #fff;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    cursor: crosshair;
}
.button-org-add .btn-plus:active{
    box-shadow:inset 0 0 51px rgba(0,0,0, 0.5);
}
.active_btn_plus{
    background: #00c0ef;
    color: #fff;
    box-shadow:inset 0 0 51px rgba(0,0,0, 0.5);
}

.box-body .cabinet-info p {
    font-size: 16px;
    margin-top: 15px;
}

.box-body .cabinet-info span {
    font-weight: 700;
}

.box-body .cabinet-info .user-event, .club-event {
    border: 1px solid black;
    width: 100%;
    font-size: 14px;
}

.club-users table {
    width: 100%;
    margin-bottom: 50px;
}

.club-users th {
    text-align: center;
    padding: 5px 0;
}

.club-users td {
    text-align: center;
    padding: 5px 0;
}

.club-users tr:nth-child(2n) {
    background-color: #dfdfdf;
}

.club-users tr:nth-child(2n+3) {
    background-color: #cfcfcf
}

.box-avatar-cab img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
}

.cabinet-info p {
    padding-bottom: 5px;
    border-bottom: 1px solid #D2D6DE;
}

.search_wrap {
    display: none;
    margin: 0 auto;
    width: 96%;
}

.list_data {
    padding: 5px;
    max-height:620px;

}

.search_wrapp {
    display: none;
}

.list_information {
    position: absolute;
    margin: 0 auto;
    z-index: 1000;
    display: none;
}

.list_information ul {
    max-width: 95%;
    background: #fff;
}

.list-search-button .form-group input {
    float: left;
}

.list-search-button .form-group input:first-child {
    width: 70%;
}

.list-search-button .form-group input:last-child {
    width: 20%;
    margin-left: 10px;
}

.list_data {
    padding: 0 15px;
    border-left: 1px solid #00c0ef;
    border-right: 1px solid #00c0ef;
}

.list_data li {
    padding: 5px;
    border-bottom: 1px solid #aaa;
}

.list_data li:hover {
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.list-search {
    padding: 5px 0;
    overflow: hidden;
    transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.list-search img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 80%;
}

table tbody.row-table > :hover {
    cursor: pointer;
    background: #00c0ef;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

.popup-control {
    position: absolute;
    display: none;
    min-width: 250px;
    left: 45%;
    top: 40%;
    padding: 10px;
    z-index: 810;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.popup-control .edit,
.popup-control .delete {
    width: 90%;
    margin: 0 auto 10px;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;

}

.popup-control .delete {
    background: rgba(221, 75, 57, 1);
    box-shadow: 3px 3px 10px rgba(221, 75, 57, 0.7);
    transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.popup-control .delete:hover {
    background: rgba(235, 38, 38, 1);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.popup-control .delete:active {
    box-shadow: none;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.popup-control .edit {
    margin-top: 10px;
    background: rgba(0, 192, 239, 1);
    box-shadow: 3px 3px 10px rgba(0, 192, 239, 0.7);
    transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.popup-control .edit:hover {
    background: rgba(0, 172, 214, 1);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.popup-control .edit:active {
    box-shadow: none;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

/* popup edit*/
.bg-opacity {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 800;
}
.bg_shadow {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;
    background:rgba(0,0,0,0.7);
}

.add-trainer {
    position: absolute;
    right: 5%;
    padding: 2px;
    font-size: 25px;
    border: 1px solid #aaa;
}

.add-train-form {
    display: table;
}

.create-input {
    display: table;
}

.icon-input {
    border-radius: 0;
    background: #fff;
}
#search_event_go{
    z-index:801;   
}
.opt-eve{
    font-size:20px;
}
table .event_group_list_table tr:hover{
    background:#00c0ef;
    cursor:pointer;
    transition:background 0.3s;
}
table .event_group_list_table tr{
    border:1px solid #00c0ef;
    background:white;
    transition:background 0.3s;
}
table .part_list tr:hover{
    background:#00c0ef;
    cursor:pointer;
    transition:background 0.3s;
}
table .part_list tr{
    border:1px solid #00c0ef;
    background:white;
    transition:background 0.3s;
}
.head_btn_users_list{
    display:flex;
    justify-content:space-between;
    width:95%;
    // height:50px;
    margin:5px auto;
}
.head_btn_users_list .btn_table_list{
    padding:15px 5px;
    border:1px solid #00c0ef;
    border-radius: 5px;

    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.head_btn_users_list .btn_table_list:hover{
    background:#00c0ef;
    border:1px solid #00c0ef;
    cursor:pointer;
    color:white;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.head_btn_users_list .btn_table_list:active{
    box-shadow:inset 0 0 51px rgba(0,0,0, 0.7);
}
.activ_table_list{
    background:#00c0ef;
    border:1px solid #00c0ef;
    cursor:pointer;
    color:white;
    box-shadow:inset 0 0 51px rgba(0,0,0, 0.7);
}
.cont-box1 .resize-remove .border-none{
    border:none;
}

/*regisration on event*/
#reg_event{
    text-align: center;
}
#reg_event li{
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
}
#reg_event li a{
    padding:40px;
}
.menu_reg{
    padding-bottom: 50px;
}
.menu_reg button{
    margin-top: 20px;
}
.menu_reg input[type=checkbox] {
    transform: scale(1.5);
}
.menu_reg span{
    font-size: 20px;
    padding-left: 20px;
}

.judge_content_box {
    display: block;
    margin: 0 auto;
    float: none;
    width: 90%;
}
#example1_wrapper #example1 .part_list .odd #edit_bt{
    color:green;
}
.block_list_club{
    padding:5px;
    background: #00c0ef;
}
.list_club{
    padding:5px;
}
.list_club_data{
    width:100%;
    padding:0;
}
.list_club_data li{
    margin-top:5px;
    padding:5px;
    background:#fff;
}
.list_club_data li:hover {
    cursor: pointer;
    border-right:5px solid #32CD32;
    padding-left:10px;
    transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.list_table_part{
    display:none;
    position:fixed;
    max-height:90%;
    top:55px;
    background:#fff;
    z-index:111;
    overflow-y:auto;
}
.list_table_part::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

.list_table_part::-webkit-scrollbar-track {
background-color:#ecedee;
}

.list_table_part::-webkit-scrollbar-thumb {
-webkit-border-radius: 10px;
border-radius: 10px;
background-color:#6dc0c8;
}

.list_table_part::-webkit-scrollbar-thumb:hover{
background-color:#00c0ef;
width:10px;
}

.list_table_part::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

.list_table_part::-webkit-scrollbar{
width: 4px;
}
#table_part{
    margin-bottom:0;
}
#table_part .part_list .active_part{
    padding:5px;
    background:#00c0ef;
    box-shadow: 0 0 5px 3px rgba(0,192,239,0.7);
}
.take_btn{
    float:left;
    width:60%;
    padding:5px;
    color:#fff;
    text-align:center;
    background:#32CD32;
}
.take_btn:hover{
    cursor:pointer;
    box-shadow: 0 0 5px 3px rgba(50,205,50,0.7);
    transition:all 0,4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.take_btn:active{
    cursor:pointer;
    box-shadow: 0 0 5px 3px rgba(50,205,50,0.7),
    inset 0 0 5px 5px rgba(0,0,0,0.2);
    transition:all 0,4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.new_part_btn{
    float:right;
    width:40%;
    padding:5px;
    color:#fff;
    text-align:center;
    background:#00c0ef;
}
.new_part_btn:hover{
    cursor:pointer;
    box-shadow: 0 0 5px 3px rgba(0,192,239,0.7);
    transition:all 0,4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.new_part_btn:active{
    cursor:pointer;
    box-shadow: 0 0 5px 3px rgba(0,192,239,0.7),
    inset 0 0 5px 5px rgba(0,0,0,0.2);
    transition:all 0,4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.accordeon_category{
    padding:0;
    margin-top:5px;
    background:#00c0ef;
}
.accordeon_category li{
    padding:0;
    color:#fff;
    background:#00c0ef;
    border-bottom:1px solid #fff;
}
.accordeon_category li .dance_category{
    padding:10px 20px;
}
.accordeon_category li:hover{
    cursor:pointer;
    box-shadow:0 0 7px rgba(0,0,0,0.7);
    transition:all 0,4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.accordeon_category .list_category_down{
    padding-left:0px;
    background:#fff;
}
.accordeon_category .list_category_down li{
    padding:5px 5px 5px 25px;
    color:#000;
    background:#fff;
    border:none;
}
.form_block_reg{
    margin-top:5px;
}
.form_block_reg form div{
    margin-bottom:1px;
}
.accordeon_category .list_category_down .act_part{
    color:#fff;
    background:#32CD32;
}
